.ReactModalPortal > div {
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open{
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close{
    opacity: 0;
}
.modal {
    background: $dark-blue;
    color: #fff;max-width: 38rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}
.modal-title {
    margin: 0 0 $m-size;
}
.modal-body{
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size;
    word-wrap: break-word;
}